@charset "UTF-8";
/**
 * @author Prénom Nom courriel
**/
/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * Base commune
 * - Bouton du menu
 * - Liste du menu
 * - Liens du menu
 * Styles conditionnels au JavaScript
 */
/* Utilitaires
   ========================================================================== */
/* Variables et utilitaires
   ========================================================================== */
/****** Variables (peuvent être utilisées dans tous les fichiers) *******/
/*** Clearfix ***/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Images fluides */
img {
  max-width: 100%;
}

/*** Styles de base ***/
abbr[title] {
  text-decoration: none;
  cursor: help;
}

abbr[title]:hover {
  background-color: #1C1C1C;
}

/** Accessibilité
  * Pour cacher visuellement tout en gardant accessible un contenu:
  * screen-reader-only ou visuallyhidden **/
.screen-reader-only,
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/****** Base commune *******/
/* Bouton du menu */
.nav__control {
  background-color: rgba(145, 0, 145, 0.2);
  border: none;
  padding: 10px;
  min-width: 40px;
}

@media (min-width: 600px) {
  .nav__control {
    display: none;
  }
}
.nav__control:hover,
.nav__control:active {
  color: #fff;
  background-color: #CE9133;
}

.nav__control:focus {
  /* En mettant la règle outline: none;, les styles du navigateur
   * pour les éléments en cours de focus sont effacés. Il faut alors
   * les remplacer par d'autres styles qui peuvent être plus
   * en accord avec la direction visuelle du projet.
   */
  outline: none;
  /* AUTRES STYLES EN REMPLACEMENT DU OUTLINE */
  /*
   * Les règles outline-offset et outline permettent
   * de modifier l'apparence du outline par défaut des navigateurs.
   */
  outline-offset: -5px;
  outline: #CE9133 auto 5px;
}

.nav > .nav__control:before {
  display: inline-block;
  content: "";
  width: 1em;
  height: 1em;
  background-image: url(../images/ico-fermer.svg);
  margin-right: 0.25em;
}

.nav--closed > .nav__control:before {
  background-image: url(../images/ico-menu.svg);
}

/* Liste du menu */
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: none;
}

@media (min-width: 600px) {
  .nav__list-item {
    display: inline-block;
  }
}
/* Liens du menu */
.nav__list-lien {
  background-color: #CE9133;
  display: block;
  padding: 5px 10px;
  width: 100%;
}

.nav__list-lien:hover {
  color: #fff;
  background-color: #CE9133;
}
.nav__list-lien:visited, .nav__list-lien :link {
  text-decoration: none;
}
.nav__list-lien:active {
  color: #fff;
  background-color: #CE9133;
}
@media (min-width: 600px) {
  .nav__list-lien:focus {
    outline-offset: 0;
  }
}

/** Une classe nav__link--active
    sert à définir un état différent
    pour l'item de menu actif
    **/
.nav__link--active {
  border-left: 5px solid rgb(101, 68, 180);
}
@media (min-width: 600px) {
  .nav__link--active {
    border-left: none;
    border-bottom: 5px solid rgb(101, 68, 180);
  }
}

/**
 * Styles conditionnels au JavaScript
 * L'ajout par JavaScript de la classe .js
 * permet de rédiger des sélecteurs conditionnels à ce que Javascript est actif
 * De cette façon,
 *** en l'absence de JavaScript le menu restera visible et accessible
 *** en présence de JavaScript le menu est caché
 */
@media (max-width: 599px) {
  .js .nav__list {
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 2s;
  }
  .js .nav--closed .nav__list {
    max-height: 0;
    transition: max-height 0.5s;
  }
}
/* AJOUT FAIT PAR DAREN */
.entete {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.nav-conteneur {
  background-color: #CE9133;
}

.logo__lien {
  width: 50%;
}
@media (min-width: 800px) {
  .logo__lien {
    width: 30%;
  }
}

.nav-conteneur {
  display: flex;
  justify-content: center;
}

.nav {
  width: 100%;
  height: auto;
  padding: 20px 7%;
  display: flex;
  flex-direction: column;
  background-color: #CE9133;
}
@media (min-width: 800px) {
  .nav {
    width: 80%;
    padding: 20px 0;
  }
}

.nav__list {
  flex-direction: column;
  width: 2%;
}
@media (min-width: 800px) {
  .nav__list {
    width: 80%;
    display: flex;
    flex-direction: row;
  }
}

.haut-nav {
  display: flex;
  align-items: center;
}

.nav__list-lien {
  padding: 20px 0 0 0;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2em;
}
@media (min-width: 800px) {
  .nav__list-lien {
    margin-right: 60px;
  }
}

.lien-passeport {
  padding: 10px 2% 10px 2%;
  border-radius: 5px;
  border-bottom: 3px solid #E06251;
  background-color: #45A2A4;
  text-decoration: none;
  text-align: center;
  color: white;
  align-self: flex-end;
  margin: 20px 10% 0 0;
}
.lien-passeport:hover {
  border-color: #45A2A4;
  background-color: #E06251;
}

/* MENU HAMBURGER */
.menu-btn {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: var(--couleur-brune);
  margin-left: auto;
  align-self: flex-end;
}
@media (min-width: 800px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/*# sourceMappingURL=menu.css.map */
