@charset "UTF-8";

/**
 * @author COLLECTIF - @TIMCSF
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Menu
 * Grille
 * Mise en page
 *** Pied de page
 */

/* Normalize
   ========================================================================== */
@import "base/normalize";

/* Utilitaires
   ========================================================================== */
@import "base/utilitaires";

/* Charte typographique
   ========================================================================== */
@import "base/typo";

/* Grille
   ========================================================================== */
@import "base/grille";

/* Interactivite
   ========================================================================== */
a:not(.list-link_artiste .lien-passeport){
  color: $turquoise;
  &:hover,
  &:active {
    color: $jaune;
  }

  &:link,
  &:visited {
    border: $jaune;
  }
}
a .list-link_artiste {
    transition: 0.5s;

    &:hover {
      color: $dore;
      font-size: 4.4rem;
    }

    &:active {
      color: $rose;
    }

    &:link,
    &:visited {
      border: $jaune;
    }
  }

/* Mise en page
   ========================================================================== */
body{
  background-color: $bg-color;
}
h1, h2, h3, p{
  color:$couleur-texte;
}
.fiche{
  @media(min-width: 800px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .7fr .5fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
.img-principale-artiste{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  @media(min-width:800px){
    grid-area: 1 / 2 / 3 / 3;
  }
}
.artiste-info{
  @media(min-width:800px) {
    grid-area: 1 / 1 / 3 / 2;
  }
  .info-sup{
    padding: 0px;
    li{
      list-style: none;
    }
  }
  .spectacle{
    display: grid;
    grid-template-areas:
            "date heure"
            "salle";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 0px;
    li{
      list-style: none;
      border-radius: 30px;
      text-align: center;
      color: black;
      font-family: "Black Han Sans", sans-serif;
      font-weight: bold;
      p{
        color: black;
      }
      &.date {
        background-color:$dore;
        grid-area: 1/1/2/2;
      }
      &.heure{
        background-color:$corail;
        grid-area: 1/2/2/3;
      }
      &.salle{
        background-color: $turquoise;
        grid-area: 2/1/3/3;
      }
    }
  }
}
.description{
  @media(min-width: 800px){
    grid-area: 3 / 1 / 4 / 3;
  }
}
//.passeport{
//  background-color: $turquoise;
//  box-shadow: 0px 5px 0px $corail;
//  border-radius: 5px;
//  border:none;
//  height: 45px;
//  width: 280px;
//  color: $couleur-texte;
//}
.mozaique-image{
  background-color: $rose;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media(min-width: 800px){
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
      &.trois-images {
        display: flex;
        .mozaique-image_item {
            display: inline-block;
            margin: auto;
            padding: 10px 0px
        }
      }

      &.quatre-images {
        .mozaique-image_item {
          &:first-child {
            grid-area: 1 / 1 / 4 / 4;
          }

          &:nth-child(2) {
            grid-area: 1 / 4 / 4 / 7;
          }

          &:nth-child(3) {
            grid-area: 4 / 1 / 7 / 4;
          }

          &:last-child {
            grid-area: 4 / 4 / 7 / 7;
          }
        }
      }

      &.cinq-images {
        .mozaique-image_item {
          &:first-child {
            grid-area: 1 / 1 / 4 / 3;
          }

          &:nth-child(2) {
            grid-area: 1 / 3 / 4 / 5;
          }

          &:nth-child(3) {
            grid-area: 1 / 5 / 4 / 7;
          }

          &:nth-child(4) {
            grid-area: 4 / 2 / 7 / 4;
          }

          &:last-child {
            grid-area: 4 / 4 / 7 / 6;
          }
        }
      }
    }
  &_item{
    display: inline-block;
    margin: auto;
    padding: 10px 0px;
  }
}

.artiste-sug-title{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.suggestion {
  .suggestion_artiste {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 500px;
    margin: auto;
    padding: 10px 0px;
    margin-bottom: 30px;
    list-style: none;
    border-radius: 30px;
    border: solid 2px;
    @media(min-width: 800px) {
      display: block;
      width: 100%;
    }

    .list-link_artiste {
      display: flex;
      flex-wrap: wrap;
      padding: 0px;
      padding: 10px 0px;
      margin-bottom: 30px;
      .img-suggestion-artiste {
        width: 100%;
        margin: auto;
      }
      .provenance {
        border-radius: 30px;
      }
      .info-artiste-suggere {
        margin-left: 60px;
        padding: 0px 10px;
      }
      @media(min-width: 800px) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .img-suggestion-artiste {
          padding-bottom: 0px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 90%;
          border-radius: 10px;
        }

        .info-artiste-suggere {
          margin-left: 60px;
          padding: 0px 10px;
        }

          .nom-artiste {
            font-size: 5.5rem;
            @media(min-width: 800px) {
              font-size: 7.5rem;
            }
          }
        }
      }


    &:nth-child(odd) {
      border-color: $turquoise;
      border-width: 6px;

      .provenance {
        background-color: $corail;
        max-width: 300px;
        text-align: center;
      }
    }

    &:nth-child(even) {
      border-color: $corail;
      border-width: 6px;

      .provenance {
        background-color: $turquoise;
        max-width: 300px;
        text-align: center;
      }
    }
  }
}


      .list-link_artiste:nth-child(odd) {
        @media(min-width: 800px) {
            .img-suggestion-artiste {
              grid-area: 1 / 2 / 3 / 3;
            }

            .info-artiste-suggere {
              grid-area: 1 / 1 / 3 / 2;
            }
          }
        }

      .list-link_artiste:nth-child(even) {
        @media(min-width: 800px) {
          .list-link_artiste {
            .img-suggestion-artiste {
              grid-area: 1 / 1 / 3 / 2;
            }

            .info-artiste-suggere {
              grid-area: 1 / 2 / 3 / 3;
            }
          }
        }
      }






//.suggestion {
//    .list-link_artiste {
//      display: flex;
//      flex-wrap: wrap;
//      padding: 0px;
//      width: 500px;
//      margin: auto;
//      padding: 10px 0px;
//      margin-bottom: 30px;
//      list-style: none;
//      border-radius: 30px;
//      border: solid 2px;
//      @media(min-width: 800px){
//        display: block;
//        width: 100%;
//      }
//      .suggestion_artiste {
//        @media(min-width: 800px) {
//          width: 100%;
//          display: grid;
//          grid-template-columns: repeat(2, 1fr);
//          grid-template-rows: repeat(1, 1fr);
//          grid-column-gap: 0px;
//          grid-row-gap: 0px;
//        }
//
//        .img-suggestion-artiste {
//          padding-bottom: 0px;
//          display: block;
//          margin-left: auto;
//          margin-right: auto;
//          width: 90%;
//        }
//
//        .info-artiste-suggere {
//          margin-left: 60px;
//          padding: 0px 10px;
//
//          .provenance {
//            border-radius: 30px;
//          }
//
//          .nom-artiste {
//            font-size: 5.5rem;
//            @media(min-width: 800px) {
//              font-size: 7.5rem;
//            }
//          }
//        }
//
//
//    &:nth-child(odd) {
//          border-color: $turquoise;
//          border-width: 6px;
//
//          .provenance {
//            background-color: $corail;
//            max-width: 300px;
//            text-align: center;
//          }
//        }
//
//    &:nth-child(even) {
//      border-color: $corail;
//      border-width: 6px;
//
//      .provenance {
//        background-color: $turquoise;
//        max-width: 300px;
//        text-align: center;
//          }
//        }
//      }
//    }
//
//
//      .list-link_artiste:nth-child(odd) {
//        @media(min-width: 800px) {
//            .img-suggestion-artiste {
//              grid-area: 1 / 2 / 3 / 3;
//            }
//
//            .info-artiste-suggere {
//              grid-area: 1 / 1 / 3 / 2;
//            }
//          }
//        }
//
//      .list-link_artiste:nth-child(even) {
//        @media(min-width: 800px) {
//          .list-link_artiste {
//            .img-suggestion-artiste {
//              grid-area: 1 / 1 / 3 / 2;
//            }
//
//            .info-artiste-suggere {
//              grid-area: 1 / 2 / 3 / 3;
//            }
//          }
//        }
//      }
//  }
