@charset "UTF-8";

/**
 * @author COLLECTIF - @TIMCSF
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Menu
 * Grille
 * Mise en page
 *** Pied de page
 */

/* Normalize
   ========================================================================== */
//@import "normalize";

/* Utilitaires
   ========================================================================== */
//@import "utilitaires";

/* Charte typographique
   ========================================================================== */
//@import "typo";

/* Grille
   ========================================================================== */
//@import "grille";

/* Mise en page
   ========================================================================== */
body{
  background-color: black;
  margin:auto;
}
.artiste-info{
  .info-sup{
    li{
      list-style: none;
    }
  }
  .spectacle{
    li{
      list-style: none;
      border-radius: 30%;
      .date {
        background-color:goldenrod;
      }
      .heure{
        background-color:coral;
      }
      .salle{
        background-color: deepskyblue;
      }
    }
  }
}