@charset "UTF-8";

/**
 * @author COLLECTIF - @TIMCSF
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Interactivite
 * Mise en page
 * Infos artistes
 * Mozaique
 * Artistes suggérés
 */

/* Normalize
   ========================================================================== */
@import "./base/normalize";

/* Utilitaires
   ========================================================================== */
@import "./base/utilitaires";

/* Charte typographique
   ========================================================================== */
@import "./base/typo";

/* Grille
   ========================================================================== */
@import "./base/grille";

/* Menu
   ========================================================================== */
@import "./modules/menu";

/* Interactivite
   ========================================================================== */
a:not(.list-link_artiste):not(.lien-passeport):not(.nav__list-lien){
  color: $turquoise;
  &:hover,
  &:active {
    color: $jaune;
  }

  &:link,
  &:visited {
    border: $rose;
  }
}
.suggestion_artiste a.list-link_artiste {
    transition: 0.5s;
    border-radius:20px;
    &:hover {
      background-color: #232323;
      font-size: 4.4rem;
    }

    &:active {
      color: $rose;
    }

    &:link,
    &:visited {
      border: $rose;
    }
  }

/* Mise en page
   ========================================================================== */
body{
  background-color: $bg-color;
}
h1, h2, h3, p{
  color:$couleur-texte;
}

/* Infos artistes
   ========================================================================== */
.fiche{
  @media(min-width: 800px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .7fr .5fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
.img-principale-artiste{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  @media(min-width:800px){
    grid-area: 1 / 2 / 3 / 3;
  }
}
.artiste-info{
  @media(min-width:800px) {
    grid-area: 1 / 1 / 3 / 2;
  }
  .info-sup{
    padding: 0px;
    li{
      list-style: none;
    }
  }
  .spectacle{
    display: grid;
    &.spectacle1 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      padding: 0px;
    li {
      list-style: none;
      border-radius: 30px;
      text-align: center;
      color: black;
      font-family: 'Archivo Black', sans-serif;
      font-weight: bold;

      p {
        color: black;
      }

        &.date0 {
          background-color: $dore;
          grid-area: 1 / 1 / 2 / 2;
        }

        &.heure0 {
          background-color: $corail;
          grid-area: 1 / 2 / 2 / 3;
        }

        &.salle0 {
          background-color: $turquoise;
          grid-area: 2 / 1 / 3 / 3;
        }

        &.date1 {
          background-color: $dore;
          grid-area: 1 / 3 / 2 / 4;
        }

        &.heure1 {
          background-color: $corail;
          grid-area: 1 / 4 / 2 / 5;
        }

        &.salle1 {
          background-color: $turquoise;
          grid-area: 2 / 3 / 3 / 5;
        }
      }
    }
    &.spectacle0{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      padding: 0px;
      li {
        list-style: none;
        border-radius: 30px;
        text-align: center;
        color: black;
        font-family: 'Archivo Black', sans-serif;
        font-weight: bold;

        p {
          color: black;
        }

        &.date0 {
          background-color: $dore;
          grid-area: 1 / 1 / 2 / 2;
        }

        &.heure0 {
          background-color: $corail;
          grid-area: 1 / 2 / 2 / 3;
        }

        &.salle0 {
          background-color: $turquoise;
          grid-area: 2 / 1 / 3 / 3;
        }
      }
    }
  }
}
.description{
  @media(min-width: 800px){
    grid-area: 3 / 1 / 4 / 3;
  }
}

/* Mozaique
   ========================================================================== */
.mozaique-image{
  background-color: $rose;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media(min-width: 800px){
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
      &.trois-images {
        display: flex;
        .mozaique-image_item {
            display: inline-block;
            margin: auto;
            padding: 10px 0px
        }
      }

      &.quatre-images {
        .mozaique-image_item {
          &:first-child {
            grid-area: 1 / 1 / 4 / 4;
          }

          &:nth-child(2) {
            grid-area: 1 / 4 / 4 / 7;
          }

          &:nth-child(3) {
            grid-area: 4 / 1 / 7 / 4;
          }

          &:last-child {
            grid-area: 4 / 4 / 7 / 7;
          }
        }
      }

      &.cinq-images {
        .mozaique-image_item {
          &:first-child {
            grid-area: 1 / 1 / 4 / 3;
          }

          &:nth-child(2) {
            grid-area: 1 / 3 / 4 / 5;
          }

          &:nth-child(3) {
            grid-area: 1 / 5 / 4 / 7;
          }

          &:nth-child(4) {
            grid-area: 4 / 2 / 7 / 4;
          }

          &:last-child {
            grid-area: 4 / 4 / 7 / 6;
          }
        }
      }
    }
  &_item{
    display: inline-block;
    margin: auto;
    padding: 10px 0px;
  }
}

/* Artistes suggérés
   ========================================================================== */
.artiste-sug-title{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.suggestion {
  padding: 0px;
  .suggestion_artiste {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: auto;
    margin-bottom: 30px;
    list-style: none;
    border-radius: 30px;
    border: solid 2px;
    @media(min-width: 800px) {
      display: block;
      width: 100%;
    }

    .list-link_artiste {
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0px;
      padding: 10px 0px;
      .img-suggestion-artiste {
        width: 100%;
        margin: auto;
      }
      .provenance {
        border-radius: 30px;
        padding: 10px;
      }
      .info-artiste-suggere {
        margin-left: 60px;
        padding: 0px 10px;
      }
      @media(min-width: 800px) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .img-suggestion-artiste {
          padding-bottom: 0px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 90%;
          border-radius: 10px;
        }

        .info-artiste-suggere {
          margin-left: 60px;
          padding: 0px 10px;
        }

          .nom-artiste {
            font-size: 5.5rem;
            @media(min-width: 800px) {
              font-size: 7.5rem;
            }
          }
        }
      }


    &:nth-child(odd) {
      border-color: $turquoise;
      border-width: 6px;

      .provenance {
        background-color: $corail;
        max-width: 300px;
        text-align: center;
      }
    }

    &:nth-child(even) {
      border-color: $corail;
      border-width: 6px;

      .provenance {
        background-color: $turquoise;
        max-width: 300px;
        text-align: center;
      }
    }
  }
}


      .suggestion_artiste:nth-child(odd) {
        .list-link_artiste {
          @media(min-width: 800px) {
            .img-suggestion-artiste {
              grid-area: 1 / 2 / 3 / 3;
            }

            .info-artiste-suggere {
              grid-area: 1 / 1 / 3 / 2;
            }
          }
        }
      }

      .suggestion:nth-child(even) {
        .list-link_artiste {
          @media(min-width: 800px) {
            .list-link_artiste {
              .img-suggestion-artiste {
                grid-area: 1 / 1 / 3 / 2;
              }

              .info-artiste-suggere {
                grid-area: 1 / 2 / 3 / 3;
              }
            }
          }
        }
      }
