@import "base/normalize";
@import "base/utilitaires";
@import "base/typo";
@mixin nom_artistes{
  text-decoration: none;
  color: $turquoise;
  text-transform: uppercase;
}


/**GENERAL**/
body{
  background-color: $bg-color;
  color:white;
}

.conteneur{
  margin: 0 auto;
  max-width: 1000px;
  padding: 0;
}

/** HEADER **/
@media(min-width: 800px){
  .entete {
    margin-bottom: 50px;
  }
}
.h1-artistes{
  text-align: center;
  @media(min-width: 800px) {
    position: relative;
    top: -10px;
    margin: 80px 20px 0 0;
    text-align: left;

  }
}
.select_style{
  align-self: center;
  margin:0 20px 25px 20px ;
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: $turquoise;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  width: 150px;
  @media(min-width: 800px) {
    float: right;
    top: -90px;
  }
}

.select_style .select_sc{
  width: 100%;
  background:url('../images/logos/logos_MediaSociaux/arrow.png') no-repeat;
  background-size: 30px;
  background-position: 100%;
  z-index: 10;

  select{
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 140%;
    position: relative;
    font-size: 1em;
    height: 25px;

    option:first-child{
      color: white;
      font-size: 2em;
    }
  }

}

.typeStyle{
  margin:0 20px;
}



/** AFFICHAGE ARTISTES **/

.liste_artistes {
  flex-wrap: wrap;
  padding: 0px;

  @media (max-width: 799px) {
    display: flex;
  }

  .liste-item_artistes {
    width: 500px;
    display: inline-block;
    margin: auto;
    padding: 10px 0;
    margin-bottom: 30px;
    list-style: none;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    border: solid 2px;
    @media(min-width: 800px) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 0;
    }

    .picture_art {
      padding-bottom: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }

    .liste-info_artistes {
      margin-left: 100px;

      .styleArt {
        border-radius: 30px;
        font-size: 4rem;
      }

      .h2-artistes .list-link_artiste{
        text-decoration: none;
      }
    }

    &:nth-child(odd) {
      border-color: $turquoise;
      border-width: 6px;

      .styleArt {
        background-color: $corail;
        max-width: 300px;
        text-align: center;
      }
      .h2-artistes .list-link_artiste{
        color: $rose;
        transition: 0.5s;
        &:hover{
          color:$dore;
          font-size: 4.4rem;
        }
        &:active{
          color: $rose;
        }
      }

      @media(max-width: 799px){
        .h2-artistes{
          max-width: 300px;
          text-align: center;
        }
      }

      @media(min-width: 800px){
        .h2-artistes .list-link_artiste{
          transition: 0.5s;
          &:hover{
            font-size: 7.3rem;

          }
        }
      }
    }

    &:nth-child(even) {
      border-color: $corail;
      border-width: 6px;

      .styleArt {
        background-color: $turquoise;
        max-width: 300px;
        text-align: center;
      }
      .h2-artistes .list-link_artiste{
        color: $dore;
        transition: 0.5s;
        &:hover{
          color:$rose;
          font-size: 4.4rem;
        }
        &:active{
          color: $dore;
        }
      }

      @media(max-width: 799px){
        .h2-artistes{
          max-width: 300px;
          text-align: center;
        }
      }
      @media(min-width: 800px){
        .h2-artistes .list-link_artiste{
          transition: 0.5s;
          &:hover{
            font-size: 7.3rem;

          }
        }
      }
    }
  }

  .liste-item_artistes:nth-child(odd) {
    @media(min-width: 800px) {
      .picture_art {
        grid-area: 1 / 2 / 3 / 3;
      }
      .liste-info_artistes {
        grid-area: 1 / 1 / 3 / 2;
      }
    }
  }

  .liste-item_artistes:nth-child(even) {
    @media(min-width: 800px) {
      .picture_art {
        grid-area: 1 / 1 / 3 / 2;
      }
      .liste-info_artistes {
        grid-area: 1 / 2 / 3 / 3;
      }
    }
  }
}

/** NAV SEQUENTIELLE **/

.link_precedent, .link_suivant{
  max-height: 50px;
  text-decoration: none;
  color: white;
  background-color: $dore;
  width: auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin: 0 10px;
}
.link_number{
  margin: 6px 4px 0 4px;
  color: white;
  &:hover{
    color:$dore;
  }
  &:active{
    color:white;
  }
  &:visited{
    color:$jaune;
  }
}
.nav-seq{
  display: flex;
  justify-content: center;
  margin-top:60px ;
}
.numeroDePage{
  float:right;
}

/** SUGGESTIONS **/
.h2_sug{
  color: $rose;
  text-align: center;
}

.list-link_sug{
  @include nom_artistes;
  transition: 0.5s;
  &:hover{
    color:$rose;
    font-size: 3.8rem;
  }
  &:active{
    color: $dore;
  }
}

@media(min-width: 800px){
  .list-link_sug{
    transition: 0.5s;
    &:hover{
      color:$rose;
      font-size: 4.8rem;
    }
  }

}

.styleArt_sug:nth-of-type(odd){
  padding: 6px;
  color: $bg-color;
  background-color: $jaune;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
}

.box_sug{
  margin: 0;
  max-width: 300px;
  padding:10px;
  border: 4px solid $corail;
  border-radius: 10px;
}

@media (min-width:800px) {
  .box_sug{
    max-width: 500px;
    margin: 20px;
  }
.suggestions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

}

