<a href="#contenu" class="visuallyhidden focusable">Allez au contenu</a>
<nav class="nav" aria-label="Menu principal">
    <ul class="nav__list" id="navList">
        <li class="nav__list-item">
            <a href="<?php echo $niveau ?>p-accueil-eloise.php" class="navv__link nav__link--active" aria-current="page">Accueil</a>
        </li>
        <li class="nav__list-item">
            <a href="<?php echo $niveau ?>artistes/index.php" class="navv__link">Artistes</a>
        </li>
    </ul>
</nav>